<nav class="nav bg-crimson">
  <div class="navbar-title monospace">Alex Enriquez</div>
  <ul class="nav navbar">
    <li><a href="#">About</a></li>
    <li><a href="#">Projects</a></li>
  </ul>
</nav>
<div class="jumbutron bg-crimson">
  <div class="header center">
      Front-end & Mobile Developer
  </div>
  
  <p class="text-mutted center">I love develop apps either web or mobile, and day after day trying to enhance my skills for offer always the best</p>
  <div class="center">
      <div class="label">
          <a class="link-label">View Portfolio</a>
          <br>
          <a class="link-label">v</a>
      </div>
  </div>        
</div> 